<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GISLab.web project uploader - Upload new project</title>
    </head>
    <body>
    <!-- Upload form. Note enctype attribute! -->
    <div style="padding:40px;margin:40px;border:1px solid #ccc">
        <h1>Upload new project...</h1>
        <form action="{% url 'upload_form' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.user.label_tag }} {{ form.user }}</p>
            <p>{{ form.proj_name.label_tag }} {{ form.proj_name }}</p>
            <p>{{ form.proj_file.label_tag }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.proj_file }}</p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
    </body>
</html>